<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saved Playlist</title>
</head>
<body>
    <h1>Your Party Playlist</h1>
    <table>
        <thead>
            <tr>
                <th>Song Name</th>
                <th>Artist Name</th>
                <th>Danceability</th>
            </tr>
        </thead>
        <tbody>
            {% for song in playlist %}
            <tr>
                <td>{{ song[1] }}</td>
                <td>{{ song[2] }}</td>
                <td>{{ song[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/" class="back-button">Back to Search</a>
</body>
</html>